{{> adminheader}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" type="text/css"   href="/css/coupon.css"> 

    <title>Coupons</title>
</head>
<body>
 

    <a href="http://127.0.0.1:3000/admin/addcoupon">Add Coupon</a>

 {{#each couponData}}
 <div class="coupon">
   {{this.expiryDate}}
		<h2>Get Rs{{this.discount}} off your purchase!</h2>
		<p class="code">{{this.code}}</p>
		<p class="expiry">Expires on {{this.expiryDate}}</p>
		<p class="details">Minimum bill: {{this.minBill}}</p>
		<p class="status valid">Status: {{this.status}}</p>
        <br>

	</div>
            {{/each}}


    
</body>
</html>