{{> adminheader}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" type="text/css"   href="/css/coupon.css"> 

    <title>Coupons</title>
</head>
<body>
 

    
<br>
 {{#each couponData}}
 <div class="coupon">
 <div class="bg-white card addresses-item mb-4 shadow p-3  bg-white rounded">

<h4>Get Rs {{this.discount}} off your purchase!</h4>
		<p class="code">{{this.code}}</p>
		<p class="expiry">Expires on {{formatDate this.expiryDate "DD-MM-YYY HH:mm:ss"}}</p>
        
		<p class="details">Minimum bill: {{this.minBill}}</p>
		<p class="status valid">Status: {{this.status}}</p>
        <br>

 </div>
		

	</div>
    <br>
            {{/each}}


    <a href="http://127.0.0.1:3000/admin/addcoupon" class="btn btn-success" style="margin-left: 450px;">Add Coupon</a>
 <br>
 <br>
</body>
</html>