{{> adminheader}}


<style>
 header {
      background-color: lightgray;
      padding: 20px;
      text-align: center;
    }
</style>
      <header>
    <h1>Admin Dashboard</h1>
  </header>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  /* Center the header title */
  .header {
    text-align: center;
  }

  /* Style the header title */
  .header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 0;
  }

  /* Add a border to the header */
  .header {
    border-bottom: 1px solid #ccc;
  }
</style>
<div class="container">
  {{!-- <div class="header">
    <h1>Welcome Dashboard</h1>
  </div> --}}
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
    <div class="col">
      <div class="card" style="background-color: rgb(180, 180, 180);">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title">Toal Users</h2>
          <h3 class="card-text">{{users}}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="background-color: rgb(180, 180, 180);">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title">Total Products</h2>
          <h3 class="card-text">{{products}}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card  " style="background-color: rgb(180, 180, 180);">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title">Total orders</h2>
          <h3 class="card-text">{{orders}}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card " style="background-color: rgb(180, 180, 180);">
        <div class="card-body" style="text-align: center;">
          <h2 class="card-title">Total Revenue</h3>
            <h3 class="card-text">{{totalRevenue}}</h3>
        </div>
      </div>
    </div>
  </div>


  <div class="col-9 offset-2 my-3">
    <div class="card">
      <div class="card-body">
        <h5 style="text-align: center;">Sales Data</h5>
        <hr>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>



  <div class="raw d-flex">
    <div class="col-3 offset-2 my-3">
      <div class="card">
        <div class="card-body">
          <h5 style="text-align: center;">Payment Data</h5>
          <hr>
          <canvas id="myChart2"></canvas>
          <input id="cashondelivery" type="hidden" name="cashondelivery" value="{{cashOnDeliveryCount}}">
          <input id="razorpay" type="hidden" name="razorpay" value="{{razorPayCount}}">
        </div>
      </div>
    </div>



    <div class="col-3 offset-2 my-3">
      <div class="card">
        <div class="card-body">
          <h5 style="text-align: center;">Category wise Sales</h5>
          <hr>
          <canvas id="myChart3"></canvas>
        </div>
      </div>
    </div>
  </div>



<a style="float: right;" href="/admin/salesreport" class="btn btn-success btn-lg">Sales Report</a>
<br>
<br>
<br>
<br>


</div>



<script src="/js/piechart.js"></script>


{{!-- salesData by month bar graph   orderCounts --}}

<script>
  const orderCounts = {{{ json orderCounts }}};


  const dates = orderCounts.map(order => order.month); //march,april ....
  const counts = orderCounts.map(order => order.count); //total no of orders in that month

  const ctx = document.getElementById('myChart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: dates, //  x-axis
      datasets: [{
        label: 'Total orders',
        data: counts, //y-axis
        backgroundColor: 'rgba(54, 162, 235, 0.5)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }

  });
</script>




{{!-- payment data --}}

 <script>
  const ctx4 = document.getElementById("myChart2");
  const cashOnDeliveryCount = document.getElementById("cashondelivery");
  const razorPayCount = document.getElementById("razorpay");

  new Chart(ctx4, {
    type: "pie",

    data: {
      labels:[cashOnDeliveryCount.name, razorPayCount.name]
        
,
      datasets: [{
        label: ['Cash on Delivery', 'RazorPay'],
        data: [cashOnDeliveryCount.value, razorPayCount.value],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    }
  });


</script> 




{{!-- categorysale --}}
<script>
  const catOrderCounts = {{{ json categorysale}}};  //json object 
  const catNames = catOrderCounts.map(order => order.category); //to get as array
  const catcounts = catOrderCounts.map(order => order.count);
  const ctx3 = document.getElementById("myChart3");

  new Chart(ctx3, {
    type: "pie",

    data: {
      labels:
        catNames
,
      datasets: [{
        label: 'Total Count',
        data: catcounts,
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    }
  });

</script>



