   </thead>
                            {{!-- {{#each cartdata}}
                            <tbody>
                                <tr>

                                    <p id="noItems"></p>

                                    <div class=" mb-4 d-flex justify-content-between align-items-center"
                                        id="cartItem{{this.product._id}}">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="/images/{{this.product.image.[0]}}" class="img-fluid rounded-3"
                                                alt="Cotton T-shirt">
                                        </div>

                                        <div class="col-md-1 col-lg-1 col-xl-1">
                                        - <h6 class="text-muted">{{category}}</h6> 
                                            <a href="/productView?id={{_id}} " style="text-decoration: none">
                                                <h6 class="text-black mb-0">{{this.product.name}}</h6>
                                                <h6 class="text-muted">size:{{size}}</h6>
                                            </a>
                                        </div>


                                        <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                                            <input type="hidden" id="priceText{{_id}}" value="{{this.product.price}}">
                                            <button class="btn btn-link px-2"
                                                onclick="stepondown(this, '{{_id}}', '{{this.product.price}}','{{totalbill}}')">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input id="form{{_id}}" min="1" max="{{this.product.quantity}}" name="quantity" value="{{quantity}}" readonly
                                                type="text" class="form-control form-control-sm" />
                                            <button class="btn btn-link px-2"
                                                onclick="steponup(this, '{{_id}}', '{{this.product.price}}','{{totalbill}}','{{this.product.quantity}}')">
                                                <i class="fa fa-plus"></i>
                                            </button>

                                        </div>

                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0 itemPrice" id="bill{{this.product._id}}" value="">₹
                                                {{this.product.price}}</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <div class="cart__total" id="total">{{calcTotal this.quantity this.product.price}}</div>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end cart__close">
                                            <div class="cart__close"
                                                onclick="window.location.href='/deletecart?id={{this._id}}'"><span
                                                    class="icon_close"></span></div>
                                        </div>
                                        <h8 id="limitMessage{{_id}}" class="ps-5 text-center text-danger"></h8>
                                        <hr class="my-4">

                                    </div>
                                </tr>
                            </tbody>

                            {{/each}} --}}
                            {{#each cartdata}}
                            <tbody>
                                <tr>
                                    <td class="cart_product_item">
                                        <img src="/images/{{this.product.image.[0]}}" alt="" width="130px"
                                            height="120px">
                                        <div class="cart_productitem_title">
                                            <h6>{{this.product.name}}</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price" id="price">Rs. {{this.product.price}}</td>
                                    <input type="hidden" name="productprice" value="{{this.product.price}}">
                                    <input type="hidden" name="productId" value="{{this.product._id}}">
                                    <td class="cart__quantity">
                                        <div class="quantity">
                                            <button class="minus-btn" onclick="totalprice('{{this.product._id}}','dec')"
                                                type="button"><i class="fa fa-minus"></i></button>
                                            <input type="number" id="{{this.product._id}}" class="qty-input"
                                                name="num-product" value="{{this.quantity}}" min="1"
                                               max="{{this.product.quantity}}" readonly>
                                            <button class="plus-btn"
                                                onclick="totalprice('{{this.product._id}}','inc','{{this.product.quantity}}')"
                                                type="button"><i class="fa fa-plus"></i></button>
                                        </div>

                                    </td>
                                    <td class="cart__total" id="total" name="productTotal">{{calcTotal this.product.price this.quantity}}</td>
                                    <td class="cart__close"
                                        onclick="window.location.href='/deletecart?id={{this._id}}'"><span
                                            class="icon_close"></span></td>
                                </tr>
                            </tbody>
                            {{/each}}
                        </table>

                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/shop">Continue Shopping</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-4 offset-lg-2">
                    <form action="" method="post">
                        <div class="cart_total_procced">
                            <h6>Cart total</h6>
                            <ul>
                                <li>Subtotal <span  id="subtotal">Rs.{{subtotal}}</span></li>
                                {{!-- <li>Total <span>$ 750.0</span></li> --}}
                            </ul>
                            <a href="/checkout" class="primary-btn" type="submit">Proceed to checkout</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- Shop Cart Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        
const totalprice = async (id,act,stock)=>{
            const elem= document.getElementById(id)
            console.log(elem.value)
                if( act === 'inc'){
                const stocValue = stock;
              /*  if (elem.value < stocValue) {
                   
                }*/
                 elem.value = Number(elem.value) + 1;
                //elem.value  ? elem.value=Number(elem.value)+1 : ''
                    console.log(stock)
            }else if( act === 'dec' ){
                elem.value > 1 ? elem.value=Number(elem.value)-1 :''
            }

        let subTotal = 0
        let datas = []
            let length = document.getElementsByName('productTotal').length
            for(let i = 0 ;i < length ;i++){
                document.getElementsByName('productTotal')[i].innerText = Number(document.getElementsByName('num-product')[i].value) * Number(document.getElementsByName('productprice')[i].value)
                subTotal = subTotal + Number( document.getElementsByName('productTotal')[i].innerText)
                datas.push({
                id : document.getElementsByName('productId')[i].value,
                    quantity : Number(document.getElementsByName('num-product')[i].value)
                })
            }
           document.getElementById('subtotal').innerText ="Rs. "+ subTotal

            let data = await fetch('/cartoperation',{
                method:"POST",
                headers : {
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    datas
                })
            })
            let Data = await data.json()
        }


    </script>







    {{> userfooter}}